.center {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    margin-top: 250px;
    .caption {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.post {
    background-color: #d1e8e2;
    font-size: 18px;
    color: #116466;

    .title {
        padding-top: 50px;
        padding-left: 50px;
        font-size: 25px;
    }
    
    .wrapper {
        padding: 200px;
        padding-top: 50px;
        padding-bottom: 100px;

        .post-title {
            font-size: 25px;
        }

        hr {
            border:none;
            height: 2px;
            background-color: #116466;
            margin-top: 25px;
            margin-bottom: 30px;
        }
    }
}

.comments {
    margin: 200px;
    margin-top: 50px;
    color: #d1e8e2;
    font-size: 20px;

    .wrapper {
        padding: 50px;
        margin: 10px;
        margin-top: 30px;
    }
}